@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 575px) {

    .header img {
        width: 130px;
    }

    .roadmap .roadmap-image {
        width: 240px;
        height: auto;
    }

    .hero-section-text h1 {
        font-size: 1.3rem;
    }

    .community-box {
        background-image: url('../images/community-background-smaller-screen.png');
    }

    body {
        font-size: 14px;
    }

    footer {
        font-size: 12px;
    }
    h1 { font-size: 24px; }
    h2 { font-size: 20px; }
    h3 { font-size: 18px; }
    p { font-size: 14px; }
    .container { padding: 10px; }
}

/* Small Devices (tablets, 576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {

    .header img {
        width: 150px;
    }

    .hero-section-text h1 {
        font-size: 1.7rem;
    }

    .roadmap .roadmap-image {
        width: 320px;
        height: auto;
    }

    .community-box {
        background-image: url('../images/community-background-smaller-screen.png');
    }

    body {
        font-size: 16px;
    }
    h1 { font-size: 28px; }
    h2 { font-size: 24px; }
    h3 { font-size: 20px; }
    p { font-size: 16px; }
    .container { padding: 15px; }
}

/* Medium Devices (small laptops, 768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {

    .header img {
        width: 170px;
    }

    .hero-section-text h1 {
        font-size: 2rem;
    }

    .roadmap .roadmap-image {
        width: 360px;
        height: auto;
    }

    .community-box {
        background-image: url('../images/community-background-smaller-screen.png');
    }

    body {
        font-size: 18px;
    }
    h1 { font-size: 32px; }
    h2 { font-size: 28px; }
    h3 { font-size: 24px; }
    p { font-size: 18px; }
    .container { padding: 20px; }
}

/* Large Devices (desktops, 992px - 1199px) */
@media (min-width: 992px) and (max-width: 1100px) {

    .header img {
        width: 190px;
    }

    .social-icons .icon-button .discord-logo {
        width: 29px;
    }

    .social-icons .icon-button .x-logo {
        width: 22px;
    }

    .hero-section-text h1 {
        font-size: 2.5rem;
    }

    .roadmap .roadmap-image {
        width: 400px;
        height: auto;
    }

    .community-box {
        background-image: url('../images/community-background.png');
        background-size: cover;
    }

    body {
        font-size: 18px;
    }
    h1 { font-size: 34px; }
    h2 { font-size: 30px; }
    h3 { font-size: 26px; }
    p { font-size: 18px; }
    .container { padding: 30px; }
}

/* Extra Large Devices (large desktops, 1200px and up) */
@media (min-width: 1101px) {
    .welcome-window-visible-message {
        display: flex;
    }

    .header img {
        width: 210px;
    }

    .social-icons .icon-button .discord-logo {
        width: 32px;
    }

    .social-icons .icon-button .x-logo {
        width: 24px;
    }

    .hero-section-text h1 {
        font-size: 2.4rem;
    }

    .roadmap .roadmap-image {
        width: 425px;
        height: auto;
    }

    .community-box {
        background-image: url('../images/community-background.png');
    }

    body {
        font-size: 20px;
    }
    h1 { font-size: 36px; }
    h2 { font-size: 32px; }
    h3 { font-size: 27px; }
    p { font-size: 20px; }
    .container { padding: 40px; }
}

@media (max-width: 1100px) {
    .welcome-window-visible-message {
        display: none;
    }
}
