.welcome-window {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;

    background-color: #0A0A0A;
    color: #fff;
    font-family: "Press Start 2P", monospace;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px 2%;
    white-space: pre-line;
    width: 63%;
    max-height: 400px;
    height: auto;
    line-height: 2;
}

.welcome-window .button {
    grid-row: 2;
    justify-self: center;
    color: #fff;
    background-color: #0A0A0A;
    border: 2px solid #fff;
    padding: 12px 24px;
    height: 50px;
    margin-top: 25px;
    font-family: "Press Start 2P", monospace;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0;
    border-radius: 5px;
}

.welcome-window .button:hover {
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

.welcome-window .button:focus {
    outline: none;
    box-shadow: 0 0 5px #fff;
}

.welcome-window .welcome-window-text {
    grid-row: 1;
    margin-top: 1%;
    padding-left: 2%;
    width: 100%;
    text-align: left;
    justify-self: center;
}

.welcome-window-visible-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 99;
}